.Pokemon {
  margin: 10px;
  padding: 10px 0 0 0;
  width: 140px;
  border: 1px solid grey;
  border-radius: 10px;
}

.Selected {
    background-color: pink;
    border-color: darkred;
}

.Name {
  margin: 0;
  padding: 5px 0;
  width: 140px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.ListType {
  list-style: none;
  padding: 5px;
  display: flex;
}

.Type {
  font-size: 10px;
  margin: 3px;
  padding: 5px;
  background-color: grey;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}
