.App {
  text-align: center;
}
.PokemonUl {
  list-style: none;
  text-align: center;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Pokemon-selected {
  background-color: pink;
  margin: 10px;
  padding: 10px 0;
  width: 140px;
  border-radius: 10px;
  border: 1px solid grey;
}

.Pokemon-noSelected {
  margin: 10px;
  padding: 10px 0;
  width: 140px;
  border-radius: 10px;
  border: 1px solid grey;
}

.Name {
  margin: 5px 0;
  width: 140px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.Type {
  font-size: 12px;
  margin: 5px;
  padding: 5px;
  background-color: grey;
  border-radius: 7px;
  color: white;
}